
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5px 0 0 0;
    background-color: #1c1c1c;
    padding: 5px 0 5px 0;
    height: 50px;
}
footer span {
    margin: 0 0 0 5px;
    color: white;
}
footer a {
    text-decoration: underline;
    color: white;
}